<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diretivas</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <p v-for="(aluno , i) in alunos">
        {{i+1}}: {{aluno.nome}}- {{aluno.nota}}
        <span v-if="aluno.nota >= 9">Excelente Aprovaçao</span>
        <span v-else-if="aluno.nota >= 7">Aprovado</span>
        <span v-else-if="aluno.nota >= 3">Recuperaçao</span>
        <span v-else>reprovado</span>
    </p>

</div>
<script>
    new Vue({
        el: "#app",
        data: {
            alunos: [
                {nota: 7.8, nome: "mark"},
                {nota: 9.1, nome: "maria"},
                {nota: 6.9, nome: "jr"},
                {nota: 2.8, nome: "luan"}
            ]
        }
    })
</script>
</body>
</html>

